/*
 * colors
 * red: #DB3340
 * yellow: #BC9415 
 * white: #F7EAC8
 * green: #1FDA9A
 * blue: #FFFFF9
 *
 * */
body {
  background-color: #1FDA9A;
  font-family: Verdana, sans-serif;
  color: #F7EAC8;
  text-align: center;
}

header h1 {
  font-size: 3em;
}

#page-container {
  width: 50%;
  margin: 0 auto;
}

#container {
  margin-top: 20px;
}

#desc {
  margin: 0 auto;
  margin-top: 20px;
  width: 50%;
  background-color: #F7EAC8;
  border-radius: 20px;
  padding: 5%;
}

#desc a {
  margin: 0;
  padding: 0;
  display: block;
  width: 25%;
  height: 100%;
  float: left;

  font-size: 2em;

  color: #293333;

  text-decoration: none;
  transition: color 800ms, background-color 800ms, box-shadow 800ms;
}

#desc a:hover {
  color: #F7EAC8;
  background-color: #293333;
  box-shadow: inset 0px 0px 10px #333;
}

#headshot {
  width: 80%;
  display: block;
  margin: 0 auto;
}

#quote {
  font-weight: Normal;
  font-size: 1.25em;
}

#quote b {
  color: #454545;
}

footer {
  text-align: right;
}

.rounded {
  border-radius: 50%;
}

@media screen and (min-width: 760px) {
 #headshot {
  width: 50%;
 } 
}
