.nav {
  font-size: 1.5em;
}

.jumbotron img {
  width: 25%;
  float: left;
  
  border-radius: 50%;
}

.page-header {
  width: 75%;
  text-align: left;
  padding-left: 20px;
  float: left;
}

#social-links {
  font-size: 1.5em;
}
