<ul class="nav-list">
  <a class="nav-link" href="/posts">
    <li>
      <h2>
        <i class="fa fa-pencil"></i> POSTS
      </h2>
    </li>
  </a>
  <a class="nav-link" href="/projects">
    <li>
      <h2>
        <i class="fa fa-file-code-o"></i> PROJECTS
      </h2>
    </li>
  </a>
  <a class="nav-link" href="/talks">
    <li>
      <h2>
        <i class="fa fa-microphone"></i> TALKS
      </h2>
    </li>
  </a>
  <a class="nav-link" href="/about">
    <li>
      <h2>
        <i class="fa fa-user"></i> ABOUT
      </h2>
    </li>
  </a>
</ul>

