hr {
  border: 8px solid $dark-green-color;
  border-radius: 0.25em;
  
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;

  margin-top: $spacing-unit;
  margin-bottom: $spacing-unit;

  @include media-query($on-laptop) {
    border: 5px solid $dark-green-color;
  }
}

.nav-list {
  margin-left: 0;
  list-style: none;

  > .nav-link {
    padding: 12px 24px 12px 24px;

    border-top: 1px solid $grey-color-light;
    border-bottom: 1px solid $grey-color-light;
  }
}

.nav-link {
  margin: 0;
  display: block;
  text-decoration: none;

  h2 {
    @include relative-font-size(1.5);
    margin: 0;
  }

  &,
  &:visited {
    color: $text-color;
  }

  &:hover {
    background-color: $white-color;
    color: $dark-green-color;
  }
}

.site-header {
  padding: 1.5em;
  margin: 0;
}

.site-title {
  font-family: $kaushan-script;
  color: $text-color;
  margin: 0;
  font-size: 2em;

  padding: 6px 12px 6px 12px;
  float: left;
  display: block;
  
  border: 12px solid $text-color;
  border-radius: 0.25em;

  @include media-query($on-palm) {
    font-size: 1.25em;
    padding: 6px;
    border: 6px solid $text-color;
  }

  &,
  &:visited {
    color: $text-color;
  }

  &:hover {
    background-color: $white-color;
    border-color: $white-color;
    color: $dark-green-color;
  }
}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
      display: none;
  }

  //.menu-icon {
    //display: none;
  //}

  .page-link {
    color: $text-color;
    line-height: $base-line-height;
  }

    //// Gaps between nav items, but not on the last one
    //&:not(:last-child) {
      //margin-right: 20px;
    //}
  //}

  //@include media-query($on-palm) {
    //position: absolute;
    //top: 9px;
    //right: $spacing-unit / 2;
    background-color: $background-color;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg path {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;
      background-color: $dark-green-color;
      color: $white-color;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  //}
}

/**
 * Site footer
 */
.site-footer {
  font-family: $bitter;
  
  margin-top: $spacing-unit;
  
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  padding-bottom: $spacing-unit;

  @include media-query($on-laptop) {
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
    padding-bottom: $spacing-unit / 2;
  }

}

/**
 * Page
 */

.page-title-image {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  
  @include media-query($on-palm) {
    width: 75%;
    margin-left: 12.5%;
    margin-right: 12.5%;
  }
}

.page-heading {
  @include relative-font-size(4);
  //font-size: 4em;
  font-weight: 700;
  
  @include media-query($on-palm) {
    @include relative-font-size(2);
  }
}

.page-section-heading {
  @include relative-font-size(1.15);
  font-weight: 300;

  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.page-subtitle {
  @include relative-font-size(1.75);
  padding: 12px;
  color: $white-color;
  text-align: center;
  
  background-color: $dark-green-color;
  border-radius: 0.25em;
  
  margin-top: $spacing-unit;
  margin-bottom: $spacing-unit;

  @include media-query($on-laptop) {
    @include relative-font-size(1);
    margin-top: $spacing-unit / 2;
    margin-bottom: $spacing-unit / 2;
  }

}

.page-description {
  @include relative-font-size(1.75);
  font-family: $bitter;
  
  @include media-query($on-palm) {
    @include relative-font-size(1.25);
  }
}

.page-padded {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.page-button {
  display: inline-block;
  padding: 12px;

  &,
  &:visited {
    color: $text-color;
  }
  
  &:hover {
    background-color: $white-color;
    color: $dark-green-color;
  }
}

.page-button-contrast {
  display: inline-block;
  padding: 12px;
  background-color: $text-color;
  border-radius: 0.25em;
 
  &,
  &:visited {
    color: $white-color;
  }
  
  &:hover {
    background-color: $white-color;
    color: $dark-green-color;
  }
}

.post {
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  padding-bottom: $spacing-unit;

  @include media-query($on-laptop) {
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
    padding-bottom: $spacing-unit / 2;
  }
}

.post-list {
  margin-left: 0;
  list-style: none;

  > .post-link {
    padding: 12px 24px 12px 24px;

    border-top: 1px solid $grey-color-light;
    border-bottom: 1px solid $grey-color-light;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  margin: 0;
  display: block;
  text-decoration: none;

  h2 {
    @include relative-font-size(1.5);
    margin: 0;
  }

  &,
  &:visited {
    color: $grey-color;
  }

  &:hover {
    background-color: $white-color;
    color: $dark-green-color;
  }
}

.page-social-links {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
  justify-content: space-between;

  a {
    display: block;
    margin: 0;
    @include relative-font-size(2);
    flex: 1;
    text-align: center;
    width: 15%;

    @include media-query($on-palm) {
      padding: 1em;
      width: 32%;
      margin: 1%;
    }

    &,
    &:visited {
      color: $text-color;
    }

    &:hover {
      color: $dark-green-color;
    }
  }
}

.about-profile-image {
  width: 85%;
  margin-left: 7.5%;
  margin-right: 7.5%;
  border: 12px solid $text-color;
}
